system/schemas/connectivity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="drivers">
	<xsd:complexType>
	<xsd:sequence>
		<xsd:element name="driver">
			<xsd:complexType>
				<xsd:attribute name="name" type="xsd:ID" use="required" />
				<xsd:attribute name="driverclass" type="xsd:string" use="required" />
			</xsd:complexType>
		</xsd:element>
	</xsd:sequence>
	</xsd:complexType>
</xsd:element>
</xsd:schema>